[alias]
	clog = "! a=${1:-5}; git log --oneline --graph -$a --decorate #"
	repo = remote prune origin
	rush = "! git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD) #"
	s = status
	shelve = "stash --include-untracked"
	unpush = reset --soft HEAD~1
[commit]
	gpgsign = true # GitHub verified commits
[core]
	editor = code --wait --new-window
	ignorecase = false
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe # GitHub verified commits
[user]
	email = me@austinwilliams.dev
	name = Austin Williams
	signingkey = DCD5C086CEECAA7E # GitHub verified commits

# How to set up GitHub verified commits
# https://gist.github.com/Beneboe/3183a8a9eb53439dbee07c90b344c77e
