[alias]
	repo = remote prune origin 
	s = status
	unpush = reset --soft HEAD~1
[commit]
	gpgsign = true
[core]
	editor = code --wait --new-window
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[user]
	email = me@austinwilliams.dev
	name = Austin Williams
	signingkey = DCD5C086CEECAA7E
