[alias]
	test = "!f() { a=${1:-5}; git log --oneline --decorate --color=always | head -n $a | nl -s ' * ' -w 1; }; f"
	clog = "! a=${1:-5}; git log --oneline --graph -$a --decorate #"
	repo = remote prune origin
	rush = "! git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD) #"
	s = status -s -b
	unpush = "! a=${1:-1}; git reset --soft HEAD~$a #"
[color]
	ui = true
[commit]
	gpgsign = false # GitHub verified commits
[core]
	editor = code --wait --new-window
	ignorecase = false
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe # GitHub verified commits
[gui]
	encoding = utf-8
[user]
	email = me@austinwilliams.dev
	name = Austin Williams
	signingkey = 3DCC35F92A60D1A3 # GitHub verified commits

# How to set up GitHub verified commits
# https://gist.github.com/Beneboe/3183a8a9eb53439dbee07c90b344c77e
